<%- include('./partials/header') %>

<nav>
  <a href="/flights">All Flights</a>
  <a href="/flights/new">Add a Flight</a>

  <h1> Flight World</h1>
  <h3> Find a Flight</h3>





<%- include('./partials/footer') %>